<h1>Cocktails</h1>

<h4>Cocktail List</h4>
<ul>
  <% @cocktails.each do |cocktail| %>
  <li><%= link_to "#{cocktail.name}",  cocktail_path(cocktail) %></li>
  <% end %>
</ul>


<%= link_to "Add a new Cocktail",  new_cocktail_path %>
